.game1 {
    background-color: black;
    width: 640;
    height: 480;
}

.game2 {
    background-color: black;
    width: 875;
    height: 875;
}

iframe {
    width: 875;
    height: 875;
    border: 0;
    margin: 0;
    padding: 0;
}

pre {
    word-wrap: break-word; 
    white-space: pre-wrap;
}